@charset 'utf-8';

@import '~normalize.css/normalize.css';

html {
    height: 100%;
}

body {
    display: flex;
    height: 100%;

    background: url('../images/background.svg') #111 no-repeat;
    background-size: cover;
    font-family: 'Open Sans', Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body::after {
    content: ' ';
    display: block;
    flex-grow: 0.5;
}

body::before {
    content: ' ';
    display: block;
    flex-grow: 9.5;
}

#container {
    background: rgba(255, 255, 255, 1);
    box-shadow: 0 0 0.5em 0.5em rgba(0, 0, 0, 0.25);

    flex-grow: 1;
    max-width: 48em;
    min-height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;

    nav {
        align-self: center;
        flex-grow: 1;

        justify-content: center;
        display: flex;
        flex-direction: column;

        box-sizing: border-box;
        padding: 1em;
        width: 100%;

        ul {
            align-self: center;
            margin: 1em 0;

            display: block;
            max-width: 32em;
            padding: 0;
            width: 100%;

            li {
                box-shadow: 0 0 0.1em 0.1em rgba(0, 0, 0, 0.05);
                list-style: none;

                border-radius: 1em;
                box-sizing: border-box;
                padding-left: 1.5em;
                margin: 1em 0;

                transition-duration: 0.25s;

                a {
                    display: block;
                    padding: 1em 1em;

                    background-repeat: no-repeat;
                    background-size: auto 150%;
                    background-position: right 50%;

                    text-decoration: none;

                    span {
                        display: block;
                        margin: 0.2em 0;
                    }

                    span.description {
                        color: #555;
                    }

                    span.title {
                        font-size: 2.5em;
                    }

                    span.title::before {
                        display: inline-block;
                        font-size: 0.8em;
                        margin-left: -1em;
                        text-align: center;
                        width: 1em;

                        color: #777;
                        content: attr(data-prefix);
                    }
                }

                @media (max-width: 30em) {
                    a {
                        background-image: none !important;
                    }
                }

                a#link-amphineko {
                    background-image: url(../images/amphineko.png);
                    color: #407fbf;
                }

                a#link-login {
                    color: #555;
                }

                a#link-maeeko {
                    background-image: url(../images/maeeko.png);
                    color: #bf4040;
                }

                a#link-wiki {
                    background-image: url(../images/nat-pants.png);
                    color: #555;
                }
            }

            li:hover {
                box-shadow: 0.05em 0.05em 0.2em 0.2em rgba(0, 0, 0, 0.1);
            }
        }

        ul::before {
            color: #aaa;
            display: block;
            content: attr(aria-label);
            font-family: 'Courier New', Courier, monospace;
            font-weight: 100;
            font-size: 1.5em;
        }
    }

    footer {
        align-self: flex-end;
        flex-grow: 0.1;

        display: box;
        line-height: 2em;
        padding: 1em;
        width: 100%;
        text-align: right;

        color: #ccc;
        font-size: 0.75em;
    }
}
