body {
    align-items: center;
    display: flex;
    min-height: 100vh;
    padding: 0;
}

$banner-content-max-width: 32em;

#container-main {
    align-self: center;
    margin: 0 auto;
    padding: 1em;
    width: 100%;
    
    .banner {
        background: url('../images/color-bar.png') repeat-x;
        display: block;
        margin: 0 auto;
        margin-bottom: 1em;
        max-width: $banner-content-max-width;
        padding-top: 8px;
        width: 100%;
        
        .link {
            display: block;
            text-decoration: none;
            width: 100%;
            
            .content {
                background-position: 0;
                background-repeat: no-repeat;
                background-size: 4em auto;
                display: block;
                font-size: 2.5em;
                line-height: 1em;
                padding: 0.5em;
                text-align: right;
            }

            .content::before {
                content: attr(data-prefix);
                font-size: 0.8em;
                margin-right: 0.1em;
            }
        }
    
        .description {
            display: block;
            font-size: 1.25em;
            padding: 0.5em;
            text-align: right;
        }
    }

    .footer {
        display: block;
        font-size: 0.75em;
        line-height: 1.75em;
        margin: 0 auto;
        max-width: $banner-content-max-width / 0.75;
        padding: 0;
        text-align: right;
        width: 100%;
    }
}